* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 20px;

}

.menu {
    display: flex;
}

.menu__list {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

body {
    font-family: 'Scada', sans-serif;
}